/* STATUS TABLE */
.status-table {
    width: 100%;
    display: flex;
    justify-content: center;
}

.status-table-wrapper {
    width: 70%;
    display: flex;
    justify-content: center;
}

.core-status {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.core-status-header {
    height: 10vh;
    display: flex;
    align-items: center;
}

.core-status-item {
    width: 90%;
    height: 5vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}